<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  verbose="2" preserve-order="true" name="SauceDemo">
        <classes>
            <class name="com.automation.framework.testcases.SauceDemoTest">
                <methods>
                    <include name="loginInSauceDemo" />
                    <include name="verifyCookieUserName"/>
                    <include name="verifySessionStorageUserName"/>
                    <include name="verifyCostOfProductSameOnInventoryAndProductPage"/>
                    <include name="verifyProductsAreAddedToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>